*{
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 800px) {
    .rohit {
      display: none;
    }
    .headline{
      margin: 20px;
    }
    .simplyImages{
      width: 100%;
      max-height: 600px;
    }
  }